{% extends "layout.html" %}
{% block cards %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Rate Movie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

    {# break items into batches of 3, for a maximum of 3 per row #}
    {% for quote_row in quotes | batch(3, '&nbsp;') %}
    {# mark a new row for each batch #}
    <div class="row">
  
      {% for quote in quote_row %}
  
        {% set background = card_backgrounds|random %}
      
        <div class="movie col">
          <a class="card" data-toggle="modal" data-target="#exampleModalCenter">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/1/13/Toy_Story.jpg" alt="Card image cap">
            <div class="card-body {{background}}">
              <div class="badge badge-dark">
                RECOMMENDED
              </div>
              <div class="badge badge-light">
                YOU RATED
              </div>
              <div class="stars">
                  <span class="stars-text">2.3 stars |</span>
                  <span class="fa fa-star checked star1"></span>
                  <span class="fa fa-star checked star2"></span>
                  <span class="fa fa-star checked star3"></span>
                  <span class="fa fa-star checked star4"></span>
                  <span class="fa fa-star checked star5"></span>
              </div>
              <h3 class="card-title">{{name}}</h3>
              <p class="card-text">{{quote}}</p>
            </div>
          </a>
        </div>
  
      {% endfor %}
  
    </div>
  
  {% endfor %}

</div>

{% endblock %}