{% extends "layout.html" %}
{% block cards %}

{% if got_username %}
<div class="banner-message">
    <div class="alert alert-info" role="alert">
        {% if lang == 'en' %}
        <p>Welcome to your movie ratings service, <b>{{username}}</b>.</p>
        {% if this_user_ratings %}
          <p>We have <b>{{numrecs}}</b> fine recommendations for you today out of a possible <b>{{tot_num_movies}}</b> movies. These are the ones we think you will like the most.</p>
          {# i18n of this remark is handled in app.py, due to the complex nature of the content #}
          {# this is just a remark based on the number of the items that are being recommended to the user #}
          <p>{{remark}}</p>
        {% else %}
          <p>We do not have any suggestions for you at the moment. <b>Please rate some movies so we can provide suggestions</b>.</p>
        {% endif %}
        {% else %}
        <p>Bienvenue sur votre service de classement de films, <b>{{username}}</b>.</p>
        {% if this_user_ratings %}
          <p>Nous avons <b>{{numrecs}}</b> bonnes recommandations pour vous aujourd'hui sur un total de <b>{{tot_num_movies}}</b> films. Ce sont ceux que nous pensons que vous aimerez le plus.</p>
          {# i18n of this remark is handled in app.py, due to the complex nature of the content #}
          {# this is just a remark based on the number of the items that are being recommended to the user #}
          <p>{{remark}}</p>
        {% else %}
          <p>Nous n'avons aucune suggestion pour vous pour le moment. <b>S'il vous plaît noter certains films afin que nous puissions fournir des suggestions.</b>.</p>
        {% endif %}
        {% endif %}
        
    </div>
</div>
{% else %}
<div class="banner-message">
    <div class="alert alert-danger" role="alert">
        {% if lang == 'en' %}
        <p>Please login so we can show you personalised recommendations!</p>
        <p>We have <b>{{tot_num_movies}} movies</b> in our system, it would be a shame for them to go to waste!</p>
        {% else %}
        <p>Veuillez vous connecter afin que nous puissions vous montrer des recommandations personnalisées!</p>
        <p>Nous avons <b>{{tot_num_movies}}</b> films</b> dans le système, il serait dommage qu'ils se perdent!</p>
        {% endif %}
    </div>
</div>
{% endif %}


{# rating modal #}
<div class="modal fade" id="rating-modal" tabindex="-1" role="dialog" aria-labelledby="rating-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rating-modal-title">
          {% if lang == "en" %}
          Rate Movie
          {% else %}
          Noter le film
          {% endif %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="rating-form">
            <input type="radio" name="stars" value="5" checked> 5 ⭑⭑⭑⭑⭑<br>
            <input type="radio" name="stars" value="4"> 4 ⭑⭑⭑⭑<br>
            <input type="radio" name="stars" value="3"> 3 ⭑⭑⭑<br>
            <input type="radio" name="stars" value="2"> 2 ⭑⭑<br>
            <input type="radio" name="stars" value="1"> 1 ⭑
          </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {% if lang == "en" %}
          Close
          {% else %}
          Fermer
          {% endif %}
        </button>
        <button id="save-rating-button" type="button" class="btn btn-primary">
          {% if lang == "en" %}
          Save Rating
          {% else %}
          Enregistrer le classement
          {% endif %}
        </button>
      </div>
    </div>
  </div>
</div>

{# container holding the rows of movies to display #}
{# we batch into 3 so there are max 3 movies per row in the solution #}
<div class="container">

    {# break items into batches of 3, for a maximum of 3 per row #}
    {% for predictions_row in predictions | batch(3, '&nbsp;') %}
    {# mark a new row for each batch #}
    <div class="row">
  
      {% for pred in predictions_row %}
  
        {# extract needed data from the predictions tuple (defined in rating_predictor.py) #}
        {% set movie_id = pred.1 %}
        {% set rating = pred.2|float|round(1, 'floor') %}
        {% set movie_title = pred.3 %}
        {% set genres = pred.4 %}
        {% set background = pred.5 %}

        {# if the rating is greater than 5, just make it 5 #}
        {% if rating > 5.0 %}
        {% set rating = 5.0|float %}
        {% endif %}
        {# if the rating is less than 0, just make it 0 #}
        {% if rating < 0 %}
        {% set rating = 0.0|float %}
        {% endif %}
        
      
        <div class="movie col">
          <a id="{{movie_id}}" class="card" data-toggle="modal" data-target="#rating-modal">
            <!-- <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/1/13/Toy_Story.jpg" alt="Card image cap"> -->
            <div class="card-body {{background}}">
              <h2 class="card-title">{{movie_title}}</h2>
              <div class="genres">
                {% for genre in genres %}
                  <div class="badge badge-dark">
                    {{genre}}
                  </div>
                {% endfor %}
              </div>
              {% if this_user_ratings %}
              <div class="star-elements">
                  <div class="stars-match-text">
                    {% if lang == "en" %}
                    Match:
                    {% else %}
                    Couple:
                    {% endif %}
                  </div>
                  <div class="stars">
                      {% if rating < 0.5 %}
                      <img class="no" src="/static/images/no_thanks.svg" alt="bad movie">
                      {% endif %}
                      {% if rating >= 0.5 %}
                      <span class="fa fa-star checked star1"></span>
                      {% endif %}
                      {% if rating >= 1.5 %}
                      <span class="fa fa-star checked star2"></span>
                      {% endif %}
                      {% if rating >= 2.5 %}
                      <span class="fa fa-star checked star3"></span>
                      {% endif %}
                      {% if rating >= 3.5 %}
                      <span class="fa fa-star checked star4"></span>
                      {% endif %}
                      {% if rating >= 4.5 %}
                      <span class="fa fa-star checked star5"></span>
                      {% endif %}
                  </div>
                  <div class="stars-text">({{rating}} 
                    {% if lang == "en" %}
                    stars)
                    {% else %}
                    étoiles)
                    {% endif %}
                  </div>
              </div>
              {% endif %}
            </div>
          </a>
        </div>
  
      {% endfor %}
  
    </div>
  
  {% endfor %}

</div>

{% endblock %}