{% extends "layout.html" %}
{% block cards %}

{% if got_username %}
<div class="banner-message">
    <div class="alert alert-info" role="alert">
        {% if lang == 'en' %}
        <p>Welcome to your movie ratings service, <b>{{username}}</b>.</p>
        <p>We have <b>{{numrecs}}</b> fine recommendations for you today out of a possible <b>{{tot_num_movies}}</b> movies. These are the ones we think you will like the most.</p>
        {% else %}
        <p>Bienvenue sur votre service de classement de films, <b>{{username}}</b>.</p>
        <p>Nous avons <b>{{numrecs}}</b> bonnes recommandations pour vous aujourd'hui sur un total de <b>{{tot_num_movies}}</b> films. Ce sont ceux que nous pensons que vous aimerez le plus.</p>
        {% endif %}
        {# i18n of this remark is handled in app.py, due to the complex nature of the content #}
        {# this is just a remark based on the number of the items that are being recommended to the user #}
        <p>{{remark}}</p>
    </div>
</div>
{% else %}
<div class="banner-message">
    <div class="alert alert-danger" role="alert">
        {% if lang == 'en' %}
        <p>Please login so we can show you personalised recommendations!</p>
        <p>We have <b>{{tot_num_movies}} movies</b> in our system, it would be a shame for them to go to waste!</p>
        {% else %}
        <p>Veuillez vous connecter afin que nous puissions vous montrer des recommandations personnalisées!</p>
        <p>Nous avons <b>{{tot_num_movies}}</b> films</b> dans le système, il serait dommage qu'ils se perdent!</p>
        {% endif %}
    </div>
</div>
{% endif %}


{# rating modal #}
<div class="modal fade" id="rating-modal" tabindex="-1" role="dialog" aria-labelledby="rating-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="rating-modal-title">
          {% if lang == "en" %}
          Rate Movie
          {% else %}
          Noter le film
          {% endif %}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form class="rating-form">
            <input type="radio" name="stars" value="5" checked> 5 ⭑⭑⭑⭑⭑<br>
            <input type="radio" name="stars" value="4"> 4 ⭑⭑⭑⭑<br>
            <input type="radio" name="stars" value="3"> 3 ⭑⭑⭑<br>
            <input type="radio" name="stars" value="2"> 2 ⭑⭑<br>
            <input type="radio" name="stars" value="1"> 1 ⭑
          </form> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {% if lang == "en" %}
          Close
          {% else %}
          Fermer
          {% endif %}
        </button>
        <button type="button" class="btn btn-primary">
          {% if lang == "en" %}
          Save Rating
          {% else %}
          Enregistrer le classement
          {% endif %}
        </button>
      </div>
    </div>
  </div>
</div>

{# container holding the rows of movies to display #}
{# we batch into 3 so there are max 3 movies per row in the solution #}
<div class="container">

    {# break items into batches of 3, for a maximum of 3 per row #}
    {% for quote_row in quotes | batch(3, '&nbsp;') %}
    {# mark a new row for each batch #}
    <div class="row">
  
      {% for quote in quote_row %}
  
        {% set background = card_backgrounds|random %}
      
        <div class="movie col">
          <a class="card" data-toggle="modal" data-target="#rating-modal">
            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/1/13/Toy_Story.jpg" alt="Card image cap">
            <div class="card-body {{background}}">
              <div class="badge badge-dark">
                {% if lang == "en" %}
                RECOMMENDED
                {% else %}
                CONSEILLÉ
                {% endif %}
              </div>
              <div class="badge badge-light">
                {% if lang == "en" %}
                YOU RATED
                {% else %}
                VOUS AVEZ ÉVALUÉ
                {% endif %}
              </div>
              <div class="star-elements">
                  <div class="stars">
                      <span class="fa fa-star checked star1"></span>
                      <span class="fa fa-star checked star2"></span>
                      <span class="fa fa-star checked star3"></span>
                      <span class="fa fa-star checked star4"></span>
                      <span class="fa fa-star checked star5"></span>
                  </div>
                  <div class="stars-text">(2.3 
                    {% if lang == "en" %}
                    stars)
                    {% else %}
                    étoiles)
                    {% endif %}
                  </div>
              </div>
              <h2 class="card-title">{{name}}</h2>
            </div>
          </a>
        </div>
  
      {% endfor %}
  
    </div>
  
  {% endfor %}

</div>

{% endblock %}