<!doctype html>
<html>
<head>
    <title>
        {% if lang == 'en' %}
        Movie Recommendations
        {% else %}
        Recommandations de film
        {% endif %}
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/static/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            {% if lang == 'en' %}
            Movie Recommendations
            {% else %}
            Recommandations de film
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="language-selected" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {% if lang == 'en' %}
                    English
                    {% else %}
                    Français
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="language-selected">
                  <a id="english-link" class="dropdown-item" href="#">English</a>
                  <a id="french-link" class="dropdown-item" href="#">Français</a>
                </div>
              </li>
            </ul>
            <form id="toggle-login-form" class="form-inline my-2 my-lg-0">
                {# this is populated with the currently logged in user's username #}
                <span id="username-label" class="username"></span>
                <button id="login-button" class="btn btn-danger my-2 my-sm-0" type="submit">
                    {% if lang == 'en' %}
                    Logout
                    {% else %}
                    Connectez - Out
                    {% endif %}
                </button>
            </form>
        </div>
    </nav>

    <div class="app">
        {# all cards are rendered here, see cards.html #} 
        {% block cards %}{% endblock %}

        {# login screen is rendered here, see login.html #} 
        {% block login %}{% endblock %}
    </div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{
    url_for('static', filename='js/client.js') }}"></script>
</html>